@charset "UTF-8";@font-face {
    font-family: 'Matter Bold';
    src: url("../fonts/MatterSQ-Bold.eot");
    src: url("../fonts/MatterSQ-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MatterSQ-Bold.woff2") format("woff2"), url("../fonts/MatterSQ-Bold.woff") format("woff"), url("../fonts/MatterSQ-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Matter';
    src: url("../fonts/Matter-Light.eot");
    src: url("../fonts/Matter-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Matter-Light.woff2") format("woff2"), url("../fonts/Matter-Light.woff") format("woff"), url("../fonts/Matter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}


* {
    box-sizing: border-box;
}

body {
    font-family: "Matter";
    
}

body, p {
    margin: 0;
}


#logo {
    grid-area: logo;
padding:  20px 20px 0 20px;

}

#title {
    grid-area: title;
    
}

#btn-player {
    grid-area: btn-player;
}

#btn-player img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.listen{
    font-size: 400px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
    "logo btn-player"
    ". btn-player"
    "title btn-player"
    ;
    background-color: #ffcc00;
}

@media (max-width: 992px) {
    .container {
        /* grid-template-columns: 1fr;
        grid-template-rows: 20vh 60vh 20vh;
        grid-template-areas:
        "logo"
        "btn-player"
        "title "
        ; */
        display: block;
    }
}

.img1 {
    background-color: #660099;
   
}
.contenitorehowto{
    display: flex;
    flex-direction: column;
    }
    
.howto{
    background-color: #ffcc00;
display: flex;
flex-direction: row;
 align-self: stretch;
 flex-grow: 1;
}

.scritta{
flex-grow: 1;
align-self: stretch;
flex-basis: 0px;
font-size: 160px;
padding: 0px;

}

.stazioni {

flex-grow: 2;
align-self: stretch;
flex-basis: 0px;
justify-items: right;
}

.centro{
    background-color: #ffcc00;
    display: flex;
    flex-direction: row-reverse;
    align-self: stretch;
    flex-grow: 2;
}

.online{
    flex-grow: 2;
    align-self: stretch;
    flex-basis: 0px;
    justify-items: left;
}

.letteraa{
    flex-grow: 1;
    align-self: stretch;
    flex-basis: 0px;

}

.finale{
    background-color: #ffcc00;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex-grow: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 80vh ;
    grid-template-areas:
"terminali terminali"
"z1 z2";
}

.listaterminali{
   grid-area: terminali;
   display: grid;
   grid-template-columns: 1fr 1fr; 
   /* border-top: 0.5px rgba(0, 0, 0, 0.5) solid; */
}

.letteraz1{
grid-area: z1;
padding: 0;
margin: 0;
justify-items: right;
}
.letteraz2{
padding: 0;
margin: 0;
justify-items: left;
   grid-area: z2;
}


.contenitoresettimana{
display: grid;
width: 100vw;
height: 100vh;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, 1fr) ;
grid-template-areas: 
". . monday"
"tuesday wednesday ."
". thursday ."
". . friday"
"saturday sunday .";
gap: 30px;
}

#monday{
grid-area: monday;
}
#tuesday{
grid-area: tuesday;
}
#wednesday{
grid-area: wednesday;
}
#thursday{
    grid-area: thursday;   
}
#friday{
    grid-area: friday;
}
#saturday{
    grid-area: saturday;
}
#sunday{
    grid-area: sunday;
}

h3{
    font-size: 40px;
    font-family: "Matter";
    
}


.show {
    border-top: 0.5px rgba(0, 0, 0, 0.5) solid;
}
.bdb{
    border-bottom: 0.5px rgba(0, 0, 0, 0.5) solid;
}

#monday, #tuesday, #wednesday, #thursday, #friday, #saturday, #sunday {
    display: grid;
    grid-template-columns: 1fr 1fr; 
   
}

.ora {
    text-align: left; 
    border-top: 0.5px rgba(0, 0, 0, 0.5) solid;
    padding: 12px;
}

.show {
    text-align: left; 
   padding: 12px;
}
.bigbig{
    font-size: 400px;!important
}

.stazioni{
    display: grid;
    grid-template-columns: 2fr 1fr; 
    border-top: 0.5px rgba(0, 0, 0, 0.5) solid;
}
.nomi{
   text-align: right; 
    padding: 12px;
    border-top: 0.5px rgba(0, 0, 0, 0.5) solid;
    font-size: xx-large;
}
.cancelletto{
    text-align: right; 
    border-top: 0.5px rgba(0, 0, 0, 0.5) solid;
    padding: 12px;
    font-size: xx-large;
}

/* .finale{
    display: grid;
    grid-template-columns: 2fr 1fr; 
    border-top: 0.5px rgba(0, 0, 0, 0.5) solid;
} */

.marche{
    text-align: left; 
    padding: 12px;
    border-top: 0.5px rgba(0, 0, 0, 0.5) solid;
    font-size: xx-large;

}

.frase{
   text-align: right;
    padding: 12px;
    border-top: 0.5px rgba(0, 0, 0, 0.5) solid;
    font-size: xx-large;

}